#navbar {
    background-color: #FCFCFC;
    padding: 8px;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: baseline;
}

/* Dropdown button */
.dropbtn {
    background-color: #7387ac;
    border-radius: 50%;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #486aa8;
    color: white;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
  }
/* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}


#item {
    margin-right: 10px;
    padding: 8px;
}
a {
    color: black;
}
#logo {
    display: flex;
    justify-content: center;
    padding-top: 100px;
}
section {
    display: flex;
    justify-content: center;
}
#inputWrapper {
    border: 2px solid rgb(71, 71, 71);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    width: fit-content;
}
#search, #mic {
    background-color: #FCFCFC;
    border-radius: 50px;
    height: 50px;
    width: 50px;
}
#searchIcon, #micIcon {
    height: 35px;
    width: 50px;
    padding-top: 8px;
}
#input{
    background-color: #FCFCFC;
    border: none;
    height: 50px;
    width: 400px;
    font-size: 18px;
    padding-inline-end: 30px;
    padding-inline-start: 52px;
    visibility: visible;
}
.no-outline:focus{
    outline: none;
}